{% extends 'portfolio/base.html' %}
{% block content %}

{% load static %}


<a href="{% static 'portfolio/footer.pdf' %}">PDF file</a>
<a href="{% url 'blog:all_blogs' %}">Blogs</a>
My portfolio here

<img src="{% static 'portfolio/3.jpg' %}" alt="">

<ul ></ul>
{%  for project in projects %}
    <h2>{{ project.title }}</h2>
    <h3>{{ project.description }}</h3>
    <img src="{{ project.image.url }}" alt="">
    {% if project.url %}
    <a href="{{ project.url }}"> Link here</a>
    {% endif %}
{% endfor %}

{% endblock %}